.container
  %h1 Lo lamentamos ha habido un problema con su envío, no le hemos cargado nada a su cuenta.
  %p
    Si necesita ayuda no dude en ponerse en contacto a traves de
    %a{:href => "mailto:info@flycosette.es"} info@flycosette.es
