.container
  .mail
    .text-center
      %h1.current Gracias por confiar en Flycosette
      %p Le hemos enviado un mail de confirmación con los datos de su pedido.
      %p
        Cualquier duda no dude en ponerse en contacto
        %a{:href => "mailto:info@flycosette.es"} info@flycosette.es