.container
  %h1 Carrito
  = render 'cart'
  = link_to "Vaciar Carrito", @cart, method: :delete, data: {confirm: "¿ Estas seguro de querer borrar el carrito ?"}, class: "delete_cart"
  = link_to "Realizar Pedido", new_order_path, class: "order_new pull-right"



