.cart_show
  .container
    %h1 Carrito
    %table
    - @cart.line_items.each do |line_item|
      %li= line_item.product.name


    = link_to 'Edit', edit_cart_path(@cart)
    \|
    = link_to 'Back', carts_path
