.container
  .contact
    = image_tag('contact_image.jpg')
    %p Para cualquier información sobre nuestros productos y futuros eventos, pueden comunicarse con nosotros a traves de nuestro correo electronico.
    %br/

    %a{:href => "mailto:flycosette@gmail.com"} flycosette@gmail.com
