.container
  .contact
    %p Para cualquier información sobre nuestrosproductos y futuros eventos,
    %p pueden comunicarse con nosotros a traves de nuestro correo electronico.
    %br/
    %p.link_email
      %a{:href => "mailto:info@flycosette.es"} info<span>@</span>flycosette.es
