.us
  .container
    .row
      .col-xs-12
        .shadow
          = image_tag("isabel.jpg", class: 'img-responsive')
          %p
            En FlyCosette podrás encontrar ropa para tu día a día, diferente y únicas.
            %br
            Intentamos buscar y hacer cosas especiales que sean para cualquier público, desde prendas para la edad mas juvenil como la edad más madura. A su vez son prendas que las podemos tener de fondo de armario, fáciles de poner en cada una de las temporadas que tenemos.
            %br
            FlyCosette es combinar entre nuestras prendas. En FlyCosette si una prenda no te queda bien se hace un vale por otra prenda, los vales no tienen fecha de caducidad.





