.us
  .container
    .row
      .col-xs-6
        .shadow
          = image_tag("isa_1.jpg")
          %p “Gracias a FlyCosette estoy muy ilusionada con él nuevo proyecto que estamos empezando, y seguir creciendo. ”

      .col-xs-6
        .shadow
          = image_tag("isa_2.jpg")
          .info_text
            %p Estudié diseño de moda y estilismo aunque siempre me ha gustado más la parte de estilismo, eso me da una visión especial a la hora de elegir el producto.






