.container
  .pull-right
    = link_to 'Ver', [:admin, @product], class: "admin_link"
    = link_to 'Atras', admin_products_path, class: "admin_link"
  %h1== Editando #{@product.name}

  = render 'form'


