@import 'variables'
.cart_show
  table
    font-family: $josefin_font
    width: 100%
    p
      margin-bottom: 0px
    tr
      background: rgba(240,238,239,1)
      border-bottom: 1px solid white
      td
        color: rgba(121,121,121,1)
      td:nth-child(2)
        span:nth-child(1)
          font-weight: 600
          color: darken(rgba(121,121,121,1), 30%)
      td:nth-child(3), td:nth-child(4), td:nth-child(5)
        padding: 0 20px
    tr:last-child
      background: white



