@import 'variables'
h1
  font-family: $josefin_font
#form
  font-family: $josefin_font
  .field
    label
      display: block
      font-size: 24px
      font-weight: 300
    input[type=text]
      width: 50%
      height: 40px
      padding-left: 10px
      outline: none
      border: 1px solid rgba(100,104,101,1)
      font-size: 18px
    input[type=submit]
      @include box(rgba(100,104,101,1), white, 24px)
