.logo
  width: 364px
  height: 138px
  margin : 0 auto
nav
  text-align: center
  .main-nav
    list-style-type: none
    li
      float: left
      width: 20%
      margin-right: 5%
      font-size: 36px
      text-align: center
      ul.products_sub
        position: absolute
        top: 26px
        width: 1000px
        list-style-type: none
        li
          float: left
          font-size: 14px
          width: 10%
          margin-right: 2%
          text-align: center
    li.products:hover .products_sub

