@import 'variables'
.contact
  width: 972px
  margin: 0 auto
  position: relative
  p
    position: absolute
    color: white
    top: 272px
    left: 160px
    width: 690px
    text-align: center
    font-size: 24px
    font-family: $josefin_font


  a[href^="mailto"]
    font-size: 40px
    text-decoration: none
    position: absolute
    top: 360px
    left: 360px
    color: white
    font-family: $josefin_font
    &:hover
      @extend .current
