@import 'variables'
.contact
  margin: 0 auto
  position: relative
  p
    position: absolute
    color: white
    top: 90px
    left: 229px
    width: 690px
    text-align: center
    font-size: 24px
    font-family: $josefin_font

  p
    font-size: 24px

  a[href^="mailto"]
    font-size: 40px
    text-decoration: none
    position: absolute
    top: 200px
    left: 430px
    color: white
    font-family: $josefin_font
    &:hover
      @extend .current


.us
  .shadow
    position: relative
    p
      position: absolute
      top: 29px
      left: 29px
      color: white
      font-family: "Josefin Sans", sans-serif
      font-size: 21px
      width: 312px
      text-transform: uppercase