@import 'variables'
.contact
  margin: 0 auto
  position: relative
  p
    position: absolute
    color: white
    top: 90px
    left: 229px
    width: 690px
    text-align: center
    font-size: 24px


  p
    font-size: 24px

  a[href^="mailto"]
    font-size: 40px
    text-decoration: none
    position: absolute
    top: 200px
    left: 430px
    color: white

    &:hover
      @extend .current


.us
  .shadow
    position: relative
    p
      font-size: 21px
      text-transform: uppercase